.card {
  font-size: 15px;
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  background: hsla(0, 0%, 100%, 0.015);
  transition: transform 0.3s ease-in;
}
.card:hover {
  transform: scale(1.05);
  background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0) 40%,
    hsla(0, 0%, 100%, 0.269)
  );
}
