body {
  background-color: #010a13;
  box-sizing: border-box;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  /* overflow: hidden; */
  padding: 0;
  --link-color: #d8d6d6;
  --hover-efect-color: #9b9595;
  --button-spanncolor: #a9b8eb;
  --burger-gradient: #b15a0fe0;
  --main-gradient: #ed3d07;
}
#root {
  background: url(./images/background.png) repeat center;
  /*   background-size: cover; */
}
#root::after {
  content: '';
  position: absolute;
  background: url(./images/planet.png) no-repeat center;
  top: 120px; /*660(высота стриницы) - 420(высота планеты) / 2 */
  left: 50%;

  transform: translateX(-50%);
  min-width: 440px;
  height: 420px;
  z-index: 1;
}
@media screen and (max-width: 1199px) {
  #root::after {
    display: none;
  }
}
.page {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 660px;
}

.header {
  padding: 0 2.38%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .header {
    justify-content: center;
    flex-wrap: wrap;
  }
  .header__img-wraper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .header {
    cursor: pointer;
  }
}
@media screen and (max-width: 767px) {
  .header__img-wraper {
    position: relative;
    z-index: 3;
  }
}

.header::after {
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  border: 1px solid rgb(86, 84, 84);
  background: rgba(0, 0, 0, 0.15);
  height: 100px;
  left: 0;
  z-index: 2;
}

.header__nav-bar {
  display: block;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 20px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .header__nav-bar {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .header__nav-bar {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    align-items: center;
    display: flex;
    opacity: 1;
    margin: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease-in;
    background: linear-gradient(145deg, #101010 25%, var(--burger-gradient));
  }
}
.header__nav-bar_isopen {
  transform: translateY(0);
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: var(--link-color);
}
.header__nav-item {
  position: relative;
  font-size: 16px;
  color: var(--link-color);
}

@media screen and (max-width: 767px) {
  .header__nav-item {
    font-size: 24px;
  }
}

.header__nav-item:hover {
  color: var(--hover-efect-color);
  transition: color 0.1s ease-in;
}

.header__nav-item:hover::before {
  content: '';
  width: 100%;
  border: 1px solid var(--hover-efect-color);
  position: absolute;
  bottom: -7px;
}

/* начало мейна*/

.section {
  padding: 65px 2.38% 0 2.38%;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 50px;
  }
}

.info {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: 150px 150px;
  row-gap: 10px;
}

@media screen and (max-width: 767px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info__text-container {
  color: var(--link-color);
  font-family: sans-serif;
  display: block;
  flex-direction: column;
  font-size: 27px;
}

@media screen and (max-width: 1023px) {
  .info__text-container {
    font-size: 21px;
  }
}
@media screen and (max-width: 767px) {
  .info__text-container {
    text-align: center;
    font-size: 18px;
  }
}

.info__title {
  margin: 40px 0 0;
  font-size: 2.18em;
  width: min-content;
  background: linear-gradient(90deg, #fff 20%, var(--main-gradient));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (max-width: 767px) {
  .info__title {
    margin: 0;
  }
}
.info__subtitle {
  font-size: 1em;
  background: linear-gradient(90deg, #fff 20%, var(--main-gradient));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*правая часть инфо*/

.info__right-container {
  margin: 0;
  display: grid;
  grid-row: 1/3;
  grid-column: 2/3;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  padding: 0;
}
.card {
  font-size: 15px;
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  background: hsla(0, 0%, 100%, 0.015);
}

.card__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card:hover {
  background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0) 40%,
    hsla(0, 0%, 100%, 0.269)
  );
}

.card__said-text {
  font-size: 1em;
  font-weight: 100;
}
.card__said-text:first-child {
  margin-bottom: 15px;
}

.card__main-text {
  font-size: 2.8em;
  font-weight: 600;
  margin: 0;
}

.card__bonus-text {
  font-size: 0.55em;
}
/*Стили кнопки*/
.button {
  background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
  padding: 10px 20px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  align-self: center;
  margin-bottom: 30px;
  width: 155px;
  height: 25px;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1023px) {
  .button {
    align-self: flex-end;
  }
}
@media screen and (max-width: 767px) {
  .button {
    margin: 0 auto;
  }
}

.button::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.button:hover::before {
  opacity: 0.2;
}

.button span {
  position: absolute;
}

.button span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(43, 8, 8, 0)),
    to(var(--button-spanncolor))
  );
  background: linear-gradient(
    to left,
    rgba(43, 8, 8, 0),
    var(--button-spanncolor)
  );
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.button span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(43, 8, 8, 0)),
    to(var(--button-spanncolor))
  );
  background: linear-gradient(
    to top,
    rgba(43, 8, 8, 0),
    var(--button-spanncolor)
  );
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.button span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(43, 8, 8, 0)),
    to(var(--button-spanncolor))
  );
  background: linear-gradient(
    to right,
    rgba(43, 8, 8, 0),
    var(--button-spanncolor)
  );
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.button span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(43, 8, 8, 0)),
    to(var(--button-spanncolor))
  );
  background: linear-gradient(
    to bottom,
    rgba(43, 8, 8, 0),
    var(--button-spanncolor)
  );
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
