.header {
  padding: 0 2.38%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
}
.header::after {
  content: '';
  position: absolute;
  width: calc(100% - 2px);
  border: 1px solid rgb(86, 84, 84);
  background: rgba(0, 0, 0, 0.15);
  height: 100px;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 1023px) {
  .header {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .header {
    cursor: pointer;
  }
}
